@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a,
a:hover,
a:link {
  text-decoration: none; }

img {
  width: 100%;
  height: 100%;
  display: block; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *:focus {
    outline: 0 !important; }

@-moz-keyframes body-animate {
  10% {
    transform: scale(1, 0.002); }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1; }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0; }
  85% {
    transform: scale(1, 0.002);
    opacity: 1; }
  100% {
    transform: scale(1, 1); } }

@-webkit-keyframes body-animate {
  10% {
    transform: scale(1, 0.002); }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1; }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0; }
  85% {
    transform: scale(1, 0.002);
    opacity: 1; }
  100% {
    transform: scale(1, 1); } }

@-o-keyframes body-animate {
  10% {
    transform: scale(1, 0.002); }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1; }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0; }
  85% {
    transform: scale(1, 0.002);
    opacity: 1; }
  100% {
    transform: scale(1, 1); } }

@keyframes body-animate {
  10% {
    transform: scale(1, 0.002); }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1; }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0; }
  85% {
    transform: scale(1, 0.002);
    opacity: 1; }
  100% {
    transform: scale(1, 1); } }

@keyframes wow-face {
  15%,
  25% {
    transform: rotate(20deg) translateX(-25px); }
  45%,
  65% {
    transform: rotate(-20deg) translateX(25px); }
  75%,
  100% {
    transform: rotate(0deg) translateX(0); } }

@keyframes wow-brow {
  15%,
  65% {
    top: 25px; }
  75%,
  100%,
  0% {
    top: 15px; } }

@keyframes wow-mouth {
  10%,
  30% {
    width: 20px;
    height: 20px;
    left: calc(50% - 10px); }
  50%,
  70% {
    width: 30px;
    height: 40px;
    left: calc(50% - 15px); }
  75%,
  100% {
    height: 50px; } }

.header {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  flex: 0 1 auto;
  background-color: #fff;
  width: 100%;
  height: 8vh;
  border-bottom: 0.0625rem solid lightgray; }
  .header__brand {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex: 0 1 auto;
    width: 100%;
    padding: 0.3125rem 0 0.3125rem 0.625rem;
    font-family: 'Modak', cursive;
    font-style: normal;
    font-size: 1.875rem;
    line-height: 1.8125rem;
    letter-spacing: 0.0625rem;
    color: #9b59b6; }

.emoji {
  width: 120px;
  height: 120px;
  margin: 15px 15px 40px;
  background: #9b59b6;
  display: inline-block;
  border-radius: 50%;
  position: relative; }
  .emoji:after {
    position: absolute;
    bottom: -40px;
    font-size: 18px;
    width: 60px;
    left: calc(50% - 30px); }
  .emoji__face, .emoji__eyebrows, .emoji__eyes, .emoji__mouth {
    position: absolute; }
    .emoji__face:before, .emoji__face:after, .emoji__eyebrows:before, .emoji__eyebrows:after, .emoji__eyes:before, .emoji__eyes:after, .emoji__mouth:before, .emoji__mouth:after {
      position: absolute;
      content: ''; }
  .emoji__face {
    width: inherit;
    height: inherit;
    animation: wow-face 3s linear infinite; }
  .emoji__mouth {
    width: 30px;
    height: 45px;
    left: calc(50% - 15px);
    top: 50%;
    border-radius: 50%;
    background: #000;
    animation: wow-mouth 3s linear infinite; }
  .emoji__eyes {
    width: 16px;
    height: 24px;
    left: calc(50% - 8px);
    top: 35px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 25px 0 0 0 #000, -25px 0 0 0 #000; }
  .emoji__eyebrows {
    left: calc(50% - 3px);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: transparent;
    box-shadow: -18px 0 0 0 #000, -33px 0 0 0 #000, 18px 0 0 0 #000, 33px 0 0 0 #000;
    animation: wow-brow 3s linear infinite; }
    .emoji__eyebrows:before, .emoji__eyebrows:after {
      width: 24px;
      height: 20px;
      border: 6px solid #000;
      box-sizing: border-box;
      border-radius: 50%;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      top: -3px;
      left: calc(50% - 12px); }
    .emoji__eyebrows:before {
      margin-left: -25px; }
    .emoji__eyebrows:after {
      margin-left: 25px; }
  .emoji:after {
    content: ''; }

.homepage__body {
  width: 100%;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 0 1 auto;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(245, 247, 250, 0.73)), url("../images/background.jpg");
  background-size: contain;
  animation: body-animate 3s ease;
  color: #9b59b6;
  font-family: 'Lato', sans-serif; }

.homepage__info {
  text-align: center;
  margin-bottom: 30px; }
  .homepage__info__title {
    font-size: 3.5rem;
    font-weight: bold; }
  .homepage__info__description {
    font-size: 2rem;
    font-weight: bold; }

.homepage__find-event {
  width: 12.5rem;
  padding: 1.25rem;
  text-align: center;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  background-color: #9b59b6;
  border: none;
  transition: all 0.5s ease; }
  .homepage__find-event a {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all 0.5s ease;
    text-decoration: none; }
    .homepage__find-event a:after {
      content: '»';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -1.25rem;
      transition: all 0.5s ease; }
    .homepage__find-event a:link {
      text-decoration: inherit; }
    .homepage__find-event a:visited {
      text-decoration: inherit; }
  .homepage__find-event:hover a {
    padding-right: 1.5625rem; }
    .homepage__find-event:hover a:after {
      opacity: 1;
      right: 0; }
