@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a,
a:hover,
a:link {
  text-decoration: none; }

img {
  width: 100%;
  height: 100%;
  display: block; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *:focus {
    outline: 0 !important; }

@-moz-keyframes body-animate {
  10% {
    transform: scale(1, 0.002); }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1; }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0; }
  85% {
    transform: scale(1, 0.002);
    opacity: 1; }
  100% {
    transform: scale(1, 1); } }

@-webkit-keyframes body-animate {
  10% {
    transform: scale(1, 0.002); }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1; }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0; }
  85% {
    transform: scale(1, 0.002);
    opacity: 1; }
  100% {
    transform: scale(1, 1); } }

@-o-keyframes body-animate {
  10% {
    transform: scale(1, 0.002); }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1; }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0; }
  85% {
    transform: scale(1, 0.002);
    opacity: 1; }
  100% {
    transform: scale(1, 1); } }

@keyframes body-animate {
  10% {
    transform: scale(1, 0.002); }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1; }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0; }
  85% {
    transform: scale(1, 0.002);
    opacity: 1; }
  100% {
    transform: scale(1, 1); } }

.header {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  flex: 0 1 auto;
  background-color: #fff;
  width: 100%;
  height: 8vh;
  border-bottom: 0.0625rem solid lightgray; }
  .header__brand {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex: 0 1 auto;
    width: 100%;
    padding: 0.3125rem 0 0.3125rem 0.625rem;
    font-family: 'Modak', cursive;
    font-style: normal;
    font-size: 1.875rem;
    line-height: 1.8125rem;
    letter-spacing: 0.0625rem;
    color: #9b59b6; }

.homepage__body {
  width: 100%;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 0 1 auto;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(245, 247, 250, 0.73)), url("../images/background.jpg");
  background-size: contain;
  animation: body-animate 3s ease;
  color: #9b59b6;
  font-family: 'Lato', sans-serif; }

.homepage__info {
  text-align: center;
  margin-bottom: 30px; }
  .homepage__info__title {
    font-size: 3.5rem;
    font-weight: bold; }
  .homepage__info__description {
    font-size: 2rem;
    font-weight: bold; }

.homepage__find-event {
  width: 12.5rem;
  padding: 1.25rem;
  text-align: center;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  background-color: #9b59b6;
  border: none;
  transition: all 0.5s ease; }
  .homepage__find-event a {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all 0.5s ease;
    text-decoration: none; }
    .homepage__find-event a:after {
      content: '»';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -1.25rem;
      transition: all 0.5s ease; }
    .homepage__find-event a:link {
      text-decoration: inherit; }
    .homepage__find-event a:visited {
      text-decoration: inherit; }
  .homepage__find-event:hover a {
    padding-right: 1.5625rem; }
    .homepage__find-event:hover a:after {
      opacity: 1;
      right: 0; }
