.eventspage {
    font-family: 'Poppins', sans-serif;

    &__body {
        @include flex($jc: center);
        animation: body-animation-right-to-left 2s ease;
    }

    &__container {
        background-color: $color-clouds;
        width: pxToRem(1000px);
        height: 100%;
        overflow-y: hidden;
    }

    &__form {
        @include flex($jc: center, $ai: center);
        margin-top: pxToRem(50px);
        &__search-input {
            padding-left: pxToRem(16px);
            margin-top: pxToRem(1px);
            height: pxToRem(40px);
            width: pxToRem(240px);
            // border-radius: 0;
            margin-right: pxToRem(8px);
            font-size: pxToRem(16px);
            line-height: pxToRem(19px);
            border: none;
            ::placeholder {
                color: #e4e6e8;
            }
            &:focus {
                outline: 0;
                @include shadow-generator($color-purple);
            }
        }

        &__search-button {
            @include button-generator(
                $size: 12px,
                $color: $color-white,
                $bg-color: $color-purple,
                $hover-bg-color: $color-purple-dark
            );
        }
    }

    &__events {
        min-height: 0 !important;
        height: 100%;
        margin-top: pxToRem(60px);
        overflow-y: auto;
        scrollbar-color: $color-purple $color-white;
        scrollbar-width: thin;

        &::-webkit-scrollbar {
            width: pxToRem(8px);
            background-color: $color-white;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $color-purple;
        }

        &__sec1 {
            height: pxToRem(50px);
        }
        &__sec2 {
            height: pxToRem(25px);
        }

        &__event-card {
            @include flex($jc: center);
            border-radius: pxToRem(2px);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
            height: pxToRem(125px);
            // margin-bottom: pxToRem(25px);
            margin: pxToRem(25px) auto;
            width: pxToRem(650px);
            transition: all 0.3s ease-out;

            &:hover {
                box-shadow: 0 5px 14px rgba(0, 0, 0, 0.2);
            }

            &:hover &__info-section__loc-and-price {
                opacity: 0;
                transform: translateY(-8px);
            }

            &:hover &__info-section__hover-section {
                opacity: 1;
                transform: translateY(10px);
            }

            &__cover {
                background: none;
                height: 100%;
                width: 35%;
                position: relative;

                &__image {
                    background-image: url('https://s9.postimg.cc/y0sfm95gv/prince_f.jpg');
                    background-position: center center;
                    background-size: cover;
                    height: 100%;
                }
            }

            &__info-section {
                @include flex($fdr: column);
                background-color: $color-white;
                height: 100%;
                padding: pxToRem(12px) pxToRem(15px);
                position: relative;
                width: 65%;

                &__date,
                &__loc-and-price,
                &__hover-section {
                    font-size: pxToRem(14px);
                    color: $color-dark-gray;
                }

                &__description {
                    margin-top: pxToRem(10px);
                }

                &__loc-and-price {
                    // transform: translateY(28px);
                }

                &__hover-section {
                    opacity: 0;
                    transform: translateY(16px);
                    transition: all 300ms ease-out;

                    &__get-ticket {
                        @include button-generator(
                            $size: 5px,
                            $color: $color-white,
                            $bg-color: $color-purple,
                            $hover-bg-color: $color-purple-dark
                        );
                    }
                }

                .card-bottom {
                    @include flex($jc: space-between);
                    padding: pxToRem(12px);
                    position: absolute;
                    bottom: 10px;
                    left: 0;
                    transition: all 300ms ease-out;
                    width: 100%;
                }
            }
        }
    }
}
