.eventspage {
    &__countdown-modal-overlay {
        @include modal-overlay-generator;
    }

    &__modal {
        @include modal-generator;

        &__warnings {
            @include flex($jc: center, $ai: center, $fdr: column);
            margin-top: pxToRem(80px);

            &--large {
                font-family: 'Modak', cursive;
                font-size: pxToRem(60px);
                letter-spacing: pxToRem(1px);
                color: $color-purple;
            }
            &--small {
                font-size: pxToRem(20px);
                color: $color-purple;
            }
        }

        &__countdown {
            @include flex($jc: center);
            margin-top: pxToRem(80px);

            div {
                position: relative;
                width: pxToRem(100px);
                height: pxToRem(100px);
                line-height: pxToRem(100px);
                text-align: center;
                background: $color-purple;
                color: $color-white;
                margin: 0 pxToRem(15px);
                font-size: pxToRem(48px);
                font-weight: 500;

                &:before {
                    content: '';
                    position: absolute;
                    bottom: pxToRem(-30px);
                    left: 0;
                    width: 100%;
                    height: pxToRem(35px);
                    background: $countdown-footer-bg-color;
                    color: $countdown-footer-color;
                    font-size: pxToRem(16px);
                    line-height: pxToRem(35px);
                    font-weight: 300;
                }
            }

            div#day {
                &:before {
                    content: 'Days';
                }
            }

            div#hour {
                &:before {
                    content: 'Hours';
                }
            }

            div#minute {
                &:before {
                    content: 'Minutes';
                }
            }

            div#second {
                &:before {
                    content: 'Seconds';
                }
            }
        }

        &__btn {
            @include flex($jc: center);
            margin-top: pxToRem(40px);
            &__buy-ticket {
                @include button-generator(
                    $size: 13px 25px,
                    $color: $color-white,
                    $bg-color: $color-purple,
                    $hover-bg-color: $color-purple-dark
                );
                font-size: pxToRem(20px);
            }
            margin-top: pxToRem(100px);
        }
    }

    &__add-event-modal-overlay {
        @include modal-overlay-generator;
    }

    &__add-event-modal {
        @include modal-generator;
    }
}
