@mixin flex(
    $jc: flex-start,
    $ai: stretch,
    $fdr: row,
    $flshort: (
        0 1 auto,
    )
) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fdr;
    flex: $flshort;
}

@mixin shadow-generator($color) {
    box-shadow: 0 pxToRem(4px) pxToRem(20px) $color;
}

@mixin border-generator($color) {
    -moz-box-shadow: pxToRem(1px) solid $color;
    border: pxToRem(1px) solid $color;
}

@mixin button-generator($size, $color, $bg-color, $hover-bg-color) {
    // padding: pxToRem(8px) pxToRem(13px) pxToRem(8px) pxToRem(13px);
    padding: $size;
    color: $color;
    background-color: $bg-color;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: pxToRem(3px);
    outline: none;
    user-select: none;

    &:hover {
        background-color: $hover-bg-color;
    }
}

@mixin modal-overlay-generator() {
    display: none;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $modal-overlay;
    z-index: 10;
}

@mixin modal-generator() {
    display: block;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(245, 247, 250, 0.73)),
        url('../images/countdownbg.jpg');
    background-size: contain;
    width: pxToRem(800px);
    height: 85%;
    z-index: 20;
    user-select: none;
    border-top-right-radius: pxToRem(14px);
    border-top-left-radius: pxToRem(14px);
    animation: modal-open 2s ease;

    &__close {
        @include flex($jc: center);
        font-size: pxToRem(48px);
        color: $color-purple;
        margin-top: pxToRem(15px);
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            color: $color-purple-dark;
            transform: translateY(5px);
        }
    }
}
